{% extends 'layout.html' %}

{% block title %}
    home
{% endblock %}
{% block css_files %}
    {% load static %}
    <link rel="StyleSheet" href="{% static 'css/default.css' %}"/>
    <link rel="StyleSheet" href="{% static 'css/publicar.css' %}"/>
{% endblock %}

{% block body %}
    <div id="message">
        {{ message }}
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">publicar</button>
    </form>
{% endblock %}

{% block js_files %}
{% endblock %}